
<nav id="navbar" class="bg-primary navbar navbar-expand-lg navbar-light">
  <a class=" text-light navbar-brand" href="/"></a>
  <div class="navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a id="home" class="nav-link text-light" href="/">News Scraper<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a id="home" class="nav-link text-light" href="/saved">Saved</a>
        </li>
        <li class="nav-item">
            <a id="scrape" class="nav-link text-light">Scrape Articles</a>
        </li>
    </ul>
  </div>
</nav>

<div id="header" class="jumbotron bg-secondary d-flex justify-content-center">
    <h1>News Scraper</h1>
</div>

<div class="jumbotron">
    {{#each Articles}}
        <div class="card shadow-lg m-5">
            <div class="card-body bg-primary">
                <p class="card-text"><a class="text-light articles" target="_blank" href="https://www.nytimes.com{{link}}">{{title}}</a><button class="save-button btn btn-secondary" data-id="{{id}}">
                    {{#if saved}}
                    Already Saved
                    {{/if}}
                    {{#unless saved}}
                    Save Article
                    {{/unless}}
                </button></p>
            </div>
            <div class="card-footer summary text-dark">
                {{summary}}
            </div>
        </div>
    {{/each}}
</div>